/* Menu bar */
*{
    font-family: Arial, Helvetica, sans-serif;
}
.menuBar{
    background-color: #0D1321;
    align-content: center;
    text-align: center;
    width: wrap;
}
.menuButton{
    background-color: inherit;
    color: whitesmoke;
    border: none;
    height: 2rem;
    width: 4rem;
}