/* Menu bar */
*{
    font-family: Arial, Helvetica, sans-serif;
}
.menuBar{
    background-color: #B09E99;
    align-content: center;
    text-align: center;
    width: wrap;
}
.menuButton{
    background-color: inherit;
    color: whitesmoke;
    border: none;
    height: 2rem;
    width: 4rem;
}

/* main */
.main{
    overflow: hidden;
}

/* content */
.content{
    background-color: #EFF1F3; 
    width: 100rem;
    height: 100%;
    margin: auto;
    /* background-image: linear-gradient(#236bde, #041530, #115dd6); */
    /* background-image: linear-gradient(#447896, #115dd6 ); */

}
footer{
    font-size: 1.5ch;
    color: whitesmoke;
    background-color: #272727;
}